---
Language: Cpp
Standard: Auto

AlwaysBreakAfterDefinitionReturnType: true
AlignOperands: true
AlignAfterOpenBracket: AlwaysBreak
AllowAllConstructorInitializersOnNextLine: false
PackConstructorInitializers: NextLine
AllowAllArgumentsOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
PointerAlignment: Right
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SortIncludes: false
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
SpaceAfterTemplateKeyword: 'false'
IndentCaseLabels: false
ColumnLimit: 95
IndentWidth : 4
AccessModifierOffset: -4
